html {
  touch-action: manipulation;
}
#title {
  text-align:center;
}
#message{
  font-size: 30px;
}
.wrapper-container {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;

}
.tetris-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: #333333;
}

.tetris-panel-container {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  color: white;
  background-color: #333333;
}

.tetris-panel-container-padding {
  flex-grow: 1;
}

.tetris-panel-container p {
  margin: 0;
  padding: 0;
}

.tetris-button-panel {
  border-style: none;
  width: 100%;
}

.tetris-button {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #444444;
}

.menu {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}
#retry-button{
  font-size: 1.4em;

  /* 文字の太さをboldに指定 */
  font-weight: bold;

  /* 縦方向に10px、
   * 横方向に30pxの余白を指定 */
  padding: 10px 30px;

  /* 文字色を白色に指定 */
  color: #fff;

  /* ボーダーをなくす */
  border-style: none;

  /* ボタンの影の指定
   * 影の横幅を2px
   * 縦長を2px
   * ぼかしを3px
   * 広がりを1px
   * 色を#666（グレー）に指定 */
  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;

  /* テキストの影の指定
   * 影の横幅を1px
   * 縦長を1px
   * ぼかしを2px
   * 色を#000（黒）に指定 */
  text-shadow: 1px 1px 2px #000;

  text-align: center;
  /* グラデーションの指定 */
  background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
  background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));
}
.button{
  text-align: center;

}
#bgm-button {
    font-size: 1.4em;

    /* 文字の太さをboldに指定 */
    font-weight: bold;

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;

    text-align: center;
    /* グラデーションの指定 */
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));
}
