<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>テトリス</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/tetris.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/tetris.js"></script>
  </head>
  <body>
      <div class="wrapper-container">
        <tr>
        </tr>
        <span class="tetris-container">
          <canvas id="stage" width="375px" height="750px" style="background-color: white;">
          </canvas>
          <span class="tetris-panel-container">
          <p>Next:</p>
            <canvas id="next" width="225px" height="225px" style="background-color: white;">
            </canvas>
            <div class="menu">
            <p>SCORE</p>
              <span id="lines">0</span>
            <br />
            <p>ゲーム</p>
            <form action="/tetris" method="GET">
            </div>
              <div class="button">
                <button id="retry-button" >リトライ</button>
              </div>
            </form>
            <br />
            <div class="menu">
              <div class="button">
                <p>BGM</p>
                <button id="bgm-button" >オン</button>
              </div>
              <br />
              <p><span id="message"></span></p>
            </div>
            <div class="tetris-panel-container-padding"></div>
            <table class="tetris-button-panel">
              <tr>
                <td></td>
                <td id="tetris-rotate-button" class="tetris-button">↻</td>
                <td></td>
              </tr>
              <tr>
                <td id="tetris-move-left-button"class="tetris-button">←</td>
                <td id="tetris-fall-button"class="tetris-button">↓</td>
                <td id="tetris-move-right-button"class="tetris-button">→</td>
              </tr>
            </table>
          </span>
        </span>
      </div>
      <iframe src="/assets/sound/silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
      <audio id="bgm_main" preload="auto" loop>
        <source src="/assets/sound/bgm_main.mp3" type="audio/mp3" />
      </audio>
      <audio id="select_btn" preload="auto">
        <source src="/assets/sound/select.mp3" type="audio/mp3" />
      </audio>
      <audio id="delete_block" preload="auto">
        <source src="/assets/sound/deleteblock.mp3" type="audio/mp3" />
      </audio>
      <audio id="game_over" preload="auto">
        <source src="/assets/sound/gameover.mp3" type="audio/mp3" />
      </audio>
      <script>
        //var tetris = new Tetris();
        //tetris.startGame();
      </script>
    </body>
</html>
